
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(325deg,  #6a040f 0%,#d00000 50%,#faa307 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 3px 15px 1px darkblue;
    text-align: center;
    padding: 20px;
}

#start-button {
    background: #282A3A;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-size: 18pt;
    box-shadow: 5px 3px 15px 1px darkblue;
    transition: all 0.5s;
}

#reset-button {
    background: #282A3A;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-size: 18pt;
    box-shadow: 5px 3px 15px 1px darkblue;
    transition: all 0.5s;
}

#reset-button:hover {
    color:#fc7900;
}

#start-button:hover {
    color:#fc7900;
}
